body {
    background-color: rgb(214, 214, 214);
}

header, footer {
    text-align: center;
    height: 50px;
    
    background-color: aquamarine;    
}

.dogpics {
    height: 150px;
    width: 150px;
    /* display: flex; */
    border: solid black 5pt;
}

.leash {
    height: 15px;
    width: 15px;
    /* background-color: aquamarine */
    /* display: flex; */
    /* border: solid black 5pt; */
}

li {
    background-color: rgb(127, 255, 255);
    border: solid black 1pt;
    display: inline; 
    margin: 10px;
    padding: 5px; 
      
}

.dogs_avail {
    display: flex;
}

.dog_bio {
    /* justify-content: flex-end; */
    padding: 15px;
    margin: 15px;

    
    background-color: aquamarine;
    text-align: center;
    border: solid black 1px
    
}

p {
    height: 150px;
    width: 150px;
    border: solid black 1pt; 
}

/* .dog_avail {
    display: grid;
} */

/* .dog_bios {
    display: inline;
} */

/* .wrapper{
    max-height: 350px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;

}

.wrapper .item{
    min-width: 180px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: #ddd;

} */